.section5 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  letter-spacing: 1px;

  > .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    // object-fit: cover;
  }

  > .content {
    position: absolute;
    height: 70%;
    width: 80vw;
  }
}

@media (min-aspect-ratio: 16/9) {
  .section5 {
    .back-video {
      width: 100vw;
      height: auto;
    }
  }
}

@media (max-width: 1425px) {
  .section5 {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .section5 > .back-video {
    position: static;
    width: 100%;
    height: auto;
  }

  .section5 > .content {
    padding: 10px;
  }

  .section5 > .content h2 {
    font-size: 5rem!important; /* Adjust the font size for smaller screens */
  }

  .section5 > .content p {
    font-size: 20px !important; /* Adjust the font size for smaller screens */
    line-height: 1.5 !important; /* Improve readability with increased line height */
  }

  .section5 > .content .thm-btn {
    margin-top: 10px !important;
    font-size: 15px !important; /* Add spacing between the button and the content */
  }
}



@media (max-width: 885px) {
  .section5 > .content {
    padding: 5px;
    height: 70%;
    width: 100vw !important;
    text-align: center;
    
  }
  .section5 > .content .tagline {
    display: none !important;
  }

  .section5 > .content h2 {
    margin-top: 1rem !important;
    font-size: 2.9rem !important; /* Adjust the font size for smaller screens */
  }

  .section5 > .content p {
    font-size: 16px !important; /* Adjust the font size for smaller screens */
    line-height: 1 !important; /* Improve readability with increased line height */
  }

  .section5 > .content .thm-btn {
    margin-top: 5px !important;
    font-size: 15px !important; /* Add spacing between the button and the content */
    padding: 10px !important;

  }
}

@media (max-width:484px) {

  .section5 > .content {
    padding: 2px;
    height: 70%;
   width: 100% !important;
   text-align: center;
    
  }
  .section5 > .content .tagline {
    display: none !important;
  }

  .section5 > .content h2 {
    font-size: 2.5rem !important; /* Adjust the font size for smaller screens */
    margin-top: 1px !important;
  }

  .section5 > .content p {
    display: none !important;
  }

  .section5 > .content .thm-btn {
    margin-top: 2px !important;
    font-size: 10px !important; /* Add spacing between the button and the content */
    padding: 7px !important;

  }
}




